header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 200px;
    background: radial-gradient(circle, green, greenyellow);
    background-color: rgb(60, 255, 0);
    
}
#titulo {
    text-align: left;
    font-size: 36px;
    color:white;
    font-weight: bold;
    
}
nav ul {
    list-style:none;
    gap: 100px;
    margin: 0;
    padding: 0;
}
nav a :hover {
    color: green;
    font-size: 10px;
}
bloque principal {
    text-align: center;
}
.tarjetas {
    background-color: rgb(18, 216, 44);
    border-radius: 15px;
    box-shadow: 0 4px 10px, red
}


